@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  background-color: #f58549;
  font-family: 'Poppins', serif;
}

main {
  width: 350px;
  display: flex;
  min-height: 400px;
  border-radius: 3px;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 3px 5px rgb(0 0 0 / 0.2);
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-top: 3.56rem;
}
